section{
	background-color: $background-one;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	.login{
		padding-top: 12rem;
		form{
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			background-color: white;
			width: fit-content;
		}
	}
}