.card--container{
    background-color: $card-background;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 20rem;
    padding: 0.8rem;
    .card__image{
        background-color: white;
        img{
            width: 18rem;
            object-fit: contain;
        }
    }
}