main{
    display: flex;
    flex-direction: column;
    .main--dashsection{
        background-color: white;
        height: 100vh;
        display: flex;
        .side--container {
            background-color: $background-one;
            width: 17rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 5rem;
            padding-top: 15rem;
            text-align: center;
        }
        button {
            z-index: 1;
            position: relative;
            font-size: 1.5em;
            font-weight: 600;
            color: white;
            padding: 0.5em 1em;
            outline: none;
            border: none;
            background-color: $background-one;
            margin-left: 0.4em;
        }
        
        button::before {
            content: '';
            z-index: -1;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: white;
            transform-origin: center left;
            transform: scaleX(0);
            transition: transform 0.25s ease-in-out;
        }
        
        button:hover {
            cursor: pointer;
            color: $background-one;
        }
        
        button:hover::before {
            transform-origin: center right;
            transform: scaleX(1);
            border-top-left-radius: 1rem;
            border-bottom-left-radius: 1rem;
        }
    }
    .main--container{
        width: 80%;
        margin: 10rem auto 0 auto;
        display: flex;
        justify-content: space-around;
        .contact--container{
            background-color: $background-one;
            width: 35vw;
            height: 40vh;
            border-radius: 1rem;
            padding-top: 0.5rem;
            .contact__title{
                color: white;
                font-weight: 600;
                font-size: 1.2em;
                text-align: center;
            }
            .list__container{
                height: 35vh;
                background-color: white;
                margin: 0.8rem;
                border-radius: 1rem;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .content__list{
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    padding-top: 0.5rem;
                    .date{
                        font-weight: 600;
                    }
                    .accessButton{
                        text-decoration: unset;
                        color: white;
                        background-color: $background-one;
                        font-weight: 600;
                        width: 5rem;
                        text-align: center;
                        padding: 0.8rem;
                        border-radius: 1rem;
                    }
                }
            }
            .allButton{
                align-self: center;
                margin-bottom: 0.5em;
                width: 90%;
                border-radius: 1rem;
                background-color: $background-one;
                &:hover{
                    background-color: lighten($color: $background-one, $amount: 5);
                    color: white;
                }
            }
        }
    }
}