.hero--container{
    height: 42.5rem;
    background-color: $background-one;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    img{
        width: 14rem;
    }
    .hero__divider{
        display: flex;
    }
}