.main--container{
    height: fit-content;
    padding: 2rem;
    font-family: lato;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    .container__title{
        color: $background-one;
        font-size: 2.5em;
        font-weight: 600;
        margin: 1rem 0 1rem 0;
        flex: 1 100%;
        text-align: center;
    }
    .card--container{
        background-color: $card-background;
        border-radius: 1rem;
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 20rem;
        padding: 0.8rem;
        margin-top: 1rem;
        .card__image{
            background-color: white;
            img{
                width: 18rem;
                object-fit: contain;
            }
        }
        .card__text{
            width: 90%;
            display: flex;
            align-items: center;
        }
        .card__description{
            margin-top: 0.5rem;
            display: flex;
            justify-content: space-between;
            font-family: lato;
        }
        .card__title{
            width: 60%;
            h2{
                font-weight: 600;
                font-size: 1.2em;
            }
        }
        .card__stack{
            width: 5%;
            display: flex;
            flex-direction: column;
            align-items: center;
            .fab{
                font-size: 1.2em;
            }
            .fa-html5{
                color: orangered;
            }
            .fa-css3-alt{
                color: blue;
            }
            .fa-js-square{
                color: rgb(253, 236, 0);
            }
        }
        &:hover{
            cursor: pointer;
        }
    }
}